[submodule "vendor/three-viewport"]
	path = vendor/three-viewport
	url = https://github.com/randolchance/three-viewport.git
	branch = main
[submodule "vendor/nice-things"]
	path = vendor/nice-things
	url = https://github.com/randolchance/nice-things.git
