@import './base.css';

:root {
  --screen-width:           100vw;
  --screen-height:          100vh;

  --dx:                     var(--screen-width);
  --dy:                     var(--screen-height);

}

body {

  width:                    var(--dx);
  height:                   var(--dy);

}